* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: transparent;
  display: flex;
  justify-content: center;
}

#flipbook-container {
  width: 100%;
  max-width: 1200px; /* adjust max size if needed */
}

#flipbook {
  margin: 0 auto;
}

.page {
  background: white;
}

.page img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
