* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: transparent;
  overflow: hidden; /* prevent scrollbars */
  height: 100vh;
  width: 100vw;
  position: relative;
}

#flipbook {
  width: 1000px;
  height: 607px;
}

.page {
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.1); /* subtle shadows */
}

.page img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}
