html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  overflow: hidden; /* prevents scrollbars */
}

#flipbook {
  width: 1000px;
  height: 607px;
}

.page {
  background: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.page img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
